In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# Question 17

X = df[['T2']]
y = df['T6']
model = LinearRegression()
model.fit(X,y)
pred = model.predict(X)

rmse = np.sqrt(mean_squared_error(y, pred))
round(rmse, 3)

3.644

In [4]:
X = df.drop(columns = ['date', 'lights','Appliances'])
y = df['Appliances']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lin_model = LinearRegression()
lin_model.fit(X_train_scaled, y_train)

LinearRegression()

In [5]:
# Question 18

y_train_pred = lin_model.predict(X_train_scaled)
mae = mean_absolute_error(y_train, y_train_pred)
mae

53.742281074934574

In [6]:
# Question 19

rmse = np.sqrt(mean_squared_error(y_train, y_train_pred))
rmse

95.21565985214606

In [7]:
# Question 20

y_test_pred = lin_model.predict(X_test_scaled)
mae = mean_absolute_error(y_test, y_test_pred)
mae

53.64297765584962

In [8]:
# Question 21

rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
rmse

93.64046093998029

In [9]:
# Question 23

ridge_reg = Ridge()
ridge_reg.fit(X_train_scaled, y_train)
ridge_y = ridge_reg.predict(X_test_scaled)
rmse = np.sqrt(mean_squared_error(y_test, ridge_y))
rmse

93.70877477642011

In [10]:
# Question 24

lasso_reg = Lasso()
lasso_reg.fit(X_train_scaled, y_train)

weights = pd.Series(lasso_reg.coef_, X_train.columns)
weights

T1              0.000000
RH_1           56.944516
T2              0.000000
RH_2           -0.000000
T3              0.000000
RH_3            0.000000
T4             -0.000000
RH_4            0.000000
T5             -0.000000
RH_5            0.000000
T6              0.000000
RH_6           -0.000000
T7             -0.000000
RH_7           -0.000000
T8              0.000000
RH_8          -26.102888
T9             -0.000000
RH_9           -0.000000
T_out           0.000000
Press_mm_hg    -0.000000
RH_out        -50.293976
Windspeed       5.143148
Visibility      0.000000
Tdewpoint      -0.000000
rv1            -0.000000
rv2            -0.000000
dtype: float64

In [11]:
# Question 25

lasso_y = lasso_reg.predict(X_test_scaled)
rmse = np.sqrt(mean_squared_error(y_test, lasso_y))
rmse

99.42422892589771